@{
    ViewBag.Title = "Maintain";
}
<div class="container">
    <div class="row">
        <!-- Authors Column -->
        <div class="col-md-6">
            <div class="p-3 border bg-light">Column 1 (Top Row)</div>
        </div>
        <!-- Types Column -->
        <div class="col-md-6">
            <div class="p-3 border bg-light">Column 2 (Top Row)</div>
        </div>
    </div>

    <div class="row">
        <!-- Borrwos Column -->
        <div class="col-md-12">
            <div class="p-3 border bg-light">Single Column (Bottom Row)</div>
        </div>
    </div>
</div>